# CV19SIM: EPIcSuite simulator interface

Perdón la pobresa, work in progress. Será enriquecido

In [1]:
import numpy as np
import pandas as pd
import toml
import time

In [2]:
cd ..

/home/samuel/covid19geomodeller

In [3]:
from src2.models.cv19sim import cv19sim

## Lectura archivo de configuración

In [4]:
cfgfile = 'config_files/SEIR_metasim.toml'
cfg = toml.load(cfgfile) # no es necesario, pero es util para ver el archivo de configuracion

### Creación objeto de multisimulación

In [5]:
sims = cv19sim(cfg)

beta:[0.1, 0.2]
alpha:[1, 2, 3]
Simulating over 2 levels and 6 elements

In [6]:
# Resolver EDOS
sims.integrate()

Already solved

In [7]:
sims.sims[0,0].results

,t,dates,S,E,E_d,I,I_d,R,R_d,Flux,E_ac,I_ac,R_ac,I_det,I_d_det,I_ac_det,prevalence_total,prevalence_susc,prevalence_det
0,0,None,987212,1788,894,5999,3000,5000,0,0.0,894,18000,0,5999,3000,18000,0.018000,0.018000,0.018000
1,1,None,986630,1990,695,5789,1345,5588,371,0.0,1589,19345,371,5789,1345,19345,0.019345,0.019345,0.019345
2,2,None,986067,2139,610,5632,757,6159,496,0.0,2200,20103,867,5632,757,20103,0.020103,0.020103,0.020103
3,3,None,985518,2249,571,5515,557,6716,534,0.0,2771,20660,1401,5515,557,20660,0.020661,0.020661,0.020661
4,4,None,984979,2329,550,5426,495,7263,541,0.0,3321,21156,1943,5426,495,21156,0.021157,0.021157,0.021157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,None,882764,130,25,283,26,116821,28,0.0,105804,125816,111766,283,26,125816,0.125816,0.125816,0.125816
496,496,None,882739,129,25,281,26,116849,28,0.0,105829,125842,111794,281,26,125842,0.125842,0.125842,0.125842
497,497,None,882715,128,24,279,25,116877,28,0.0,105854,125868,111823,279,25,125868,0.125868,0.125868,0.125868
498,498,None,882690,127,24,276,25,116905,27,0.0,105878,125893,111850,276,25,125893,0.125894,0.125894,0.125894
499,499,None,882666,126,24,274,25,116932,27,0.0,105903,125919,111878,274,25,125919,0.125919,0.125919,0.125919

# kwargs

In [8]:
sims2 = cv19sim(cfg,I_det=[5000,8000,10000],population=[100000,500000,1000000])

beta:[0.1, 0.2]
alpha:[1, 2, 3]
population:[100000, 500000, 1000000]
I_det:[5000, 8000, 10000]
Simulating over 4 levels and 54 elements

In [9]:
start = time.time()
sims2.integrate()
stop = time.time()
print('Elapsed time = '+str(stop-start)+' seconds')

Already solved
Elapsed time = 1.2224647998809814 seconds

In [10]:
sims2.sims[0,1,1,1].results

,t,dates,S,E,E_d,I,I_d,R,R_d,Flux,E_ac,I_ac,R_ac,I_det,I_d_det,I_ac_det,prevalence_total,prevalence_susc,prevalence_det
0,0,None,488510,1490,894,5000,3000,5000,0,0.0,894,18000,0,5000,3000,18000,0.036000,0.036000,0.036000
1,1,None,486578,2970,1548,4956,1404,5495,312,0.0,2442,19404,312,4956,1404,19404,0.038809,0.038809,0.038809
2,2,None,484618,4209,1812,5172,985,5999,435,0.0,4255,20389,748,5172,985,20389,0.040779,0.040779,0.040779
3,3,None,482541,5330,1987,5590,977,6536,501,0.0,6242,21367,1249,5590,977,21367,0.042734,0.042734,0.042734
4,4,None,480280,6417,2171,6178,1113,7123,558,0.0,8414,22480,1808,6178,1113,22480,0.044961,0.044961,0.044961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,None,10090,0,0,0,0,489909,0,0.0,479750,499658,484860,0,0,499658,0.999318,0.999318,0.999318
496,496,None,10090,0,0,0,0,489909,0,0.0,479750,499658,484860,0,0,499658,0.999318,0.999318,0.999318
497,497,None,10090,0,0,0,0,489909,0,0.0,479750,499658,484860,0,0,499658,0.999318,0.999318,0.999318
498,498,None,10090,0,0,0,0,489909,0,0.0,479750,499658,484860,0,0,499658,0.999318,0.999318,0.999318
499,499,None,10090,0,0,0,0,489909,0,0.0,479750,499658,484860,0,0,499658,0.999318,0.999318,0.999318