# Desarrollo librería de manejo de datos
## Work in progress

In [10]:
import json
from pandas.core.base import DataError
import requests
from requests.auth import HTTPBasicAuth
import pandas as pd
from datetime import datetime

from datetime import timedelta
import numpy as np
from os import path
import matplotlib.pyplot as plt

import sys
from pathlib import Path

from cv19gm.utils.cv19timeutils import timeJStoPy

In [ ]:
import cv19gm.data.cv19data as cv19data

In [11]:
a = cv19data.ImportData(tstate= '13',initdate = datetime(2020,10,19))

In [12]:
a.import_data()

Importing general data
Importing Population
Dlab Endpoint Error
Importing Population
Importing Active infected
Dlab Endpoint Error
Importing Active Infected by Minciencia
updating database
Importing Accumulated Infected
Dlab Endpoint Error
Importing Accumulated Infected
updating database
Importing Daily Infected

ConnectionError: HTTPConnectionPool(host='192.168.2.223', port=5006): Max retries exceeded with url: /getNewCasesAllStates (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f0cedcadc40>: Failed to establish a new connection: [Errno 110] Connection timed out'))

In [11]:
state = '13'

In [12]:
data1 = request(endpoint1).json()
data2 = request(endpoint2+state).json()

In [13]:
data1['data'].keys()

dict_keys(['10', '11', '12', '13', '14', '15', '16', '01', '02', '03', '04', '05', '06', '07', '08', '09'])

In [14]:
data1['data']['13'].keys()

dict_keys(['capacity', 'occupied_covid', 'occupied_non_covid'])

In [15]:
data2.keys()

dict_keys(['dates', 'camas_ocupadas', 'camas_totales', 'vmi_covid19_confirmados', 'vmi_covid19_sospechosos', 'vmi_ocupados', 'vmi_totales'])

In [16]:
pd.DataFrame(data2)

,dates,camas_ocupadas,camas_totales,vmi_covid19_confirmados,vmi_covid19_sospechosos,vmi_ocupados,vmi_totales
0,2020-04-12T04:00:00.000Z,1005.0,1564,156,22,345,789
1,2020-04-13T04:00:00.000Z,991.0,1571,169,27,321,792
2,2020-04-15T04:00:00.000Z,1111.0,1649,156,20,338,838
3,2020-04-16T04:00:00.000Z,1117.0,1646,157,15,339,840
4,2020-04-18T04:00:00.000Z,1076.0,1617,187,15,354,812
...,...,...,...,...,...,...,...
178,2020-10-26T03:00:00.000Z,1873.0,2328,288,8,576,1304
179,2020-10-27T03:00:00.000Z,1920.0,2336,289,9,590,1289
180,2020-10-28T03:00:00.000Z,1912.0,2337,293,12,601,1290
181,2020-10-29T03:00:00.000Z,1861.0,2337,285,13,600,1290
182,2020-10-30T03:00:00.000Z,1899.0,2326,274,9,591,1308

In [17]:
pd.DataFrame(data1['data']['13'])

     capacity  occupied_covid  occupied_non_covid
0         793             198                 298
1         808             196                 314
2         808             202                 317
3         808             181                 340
4         818             186                 341
..        ...             ...                 ...
577      1102             387                 660
578      1109             399                 649
579      1114             395                 646
580      1121             389                 654
581      1118             393                 670

[582 rows x 3 columns]

## Comunal

In [18]:
endpoint = 'getBedsAndVentilationByComuna?comuna='

In [19]:
comuna = '13101'

In [20]:
data = request(endpoint+comuna).json()

In [21]:
pd.DataFrame(data)

,dates,camas_ocupadas,camas_totales,vmi_covid19_confirmados,vmi_covid19_sospechosos,vmi_ocupados,vmi_totales
0,2020-04-12T04:00:00.000Z,220.0,268,33,5,83,173
1,2020-04-13T04:00:00.000Z,229.0,268,34,8,81,173
2,2020-04-15T04:00:00.000Z,232.0,268,37,7,88,173
3,2020-04-16T04:00:00.000Z,220.0,268,36,4,81,173
4,2020-04-18T04:00:00.000Z,229.0,268,42,5,91,174
...,...,...,...,...,...,...,...
178,2020-10-26T03:00:00.000Z,272.0,294,27,2,83,215
179,2020-10-27T03:00:00.000Z,276.0,302,24,2,82,215
180,2020-10-28T03:00:00.000Z,279.0,302,22,7,87,215
181,2020-10-29T03:00:00.000Z,275.0,302,25,7,97,215
182,2020-10-30T03:00:00.000Z,274.0,302,24,1,87,215

In [22]:
pd.DataFrame(request('getHealthcareCenters').json())

,id_minsal,nombre_minsal,id_sochimi,nombre_sochimi,tipo_recinto,tipo_dependencia,servicio_salud,seremi,region_id,region,comuna_id,comuna,servicio_salud_id
0,101100,Hospital Regional Dr. Juan Noé Crevanni (Arica),2,Hospital Regional Dr. Juan Noé,Establecimiento Alta Complejidad,Servicio de Salud,SS ARICA,Servicio de Salud Arica,15,Arica y Parinacota,15101,Arica,151
1,101213,Clínica San José,1,Clinica San José,Clínica,Privado,SS ARICA,SEREMI De Arica y Parinacota,15,Arica y Parinacota,15101,Arica,151
2,102100,Hospital Dr. Ernesto Torres Galdames (Iquique),3,Hospital regional de Iquique,Establecimiento Alta Complejidad,Servicio de Salud,SS IQUIQUE,Servicio de Salud Iquique,01,Tarapacá,01101,Iquique,011
3,103100,Hospital Dr. Leonardo Guzmán (Antofagasta),4,Hospital regional de Antofagasta,Establecimiento Alta Complejidad,Servicio de Salud,SS ANTOFAGASTA,Servicio de Salud Antofagasta,02,Antofagasta,02101,Antofagasta,021
4,103101,Hospital Dr. Carlos Cisternas (Calama),9,Hospital del Calama,Establecimiento Alta Complejidad,Servicio de Salud,SS ANTOFAGASTA,Servicio de Salud Antofagasta,02,Antofagasta,02201,Calama,021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,900001,Clínica Red Salud Rancagua,35,Clinica Red Salud Rancagua,SIN DATO,SIN DATO,SS LIBERTADOR B. O'HIGGINS,Servicio de Salud Del Libertador B.O'Higgins,06,Lib. Gral. Bernardo O'Higgins,06101,Rancagua,061
121,900004,Hospital Clínico Regional Dr. Guillermo Grant ...,47,Gran Benavente 2,Establecimiento Alta Complejidad,Servicio de Salud,SS CONCEPCIÓN,Servicio de Salud Concepción,08,Biobío,08101,Concepción,083
122,900006,UPC Padre las Casas,122,UPC Padre las Casas,SIN DATO,SIN DATO,SS ARAUCANÍA SUR,Servicio de Salud Araucanía Sur,09,La Araucanía,09112,Padre Las Casas,092
123,900007,Hospital Metropolitano,124,Hospital Metropolitano,Hospital,Servicio de Salud,SS METROPOLITANO OCCIDENTE,Servicio de Salud Metropolitano Occidente,13,Metropolitana de Santiago,13123,Providencia,133
124,900008,Clínica Colonial,86,Clínica Colonial,Clínica,Privado,SS METROPOLITANO NORTE,SEREMI Metropolitana de Santiago,13,Metropolitana de Santiago,13107,Huechuraba,132

In [23]:
pd.DataFrame(request('getBedsAndVentilationByHealthService?health_service=151').json())

,dates,camas_ocupadas,camas_totales,vmi_covid19_confirmados,vmi_covid19_sospechosos,vmi_ocupados,vmi_totales
0,2020-04-12T04:00:00.000Z,7.0,26,5,0,6,20
1,2020-04-13T04:00:00.000Z,8.0,18,5,0,5,15
2,2020-04-15T04:00:00.000Z,8.0,18,5,2,8,15
3,2020-04-16T04:00:00.000Z,14.0,24,6,2,9,15
4,2020-04-18T04:00:00.000Z,8.0,24,5,2,8,15
...,...,...,...,...,...,...,...
178,2020-10-26T03:00:00.000Z,81.0,112,14,0,19,57
179,2020-10-27T03:00:00.000Z,82.0,112,14,0,19,57
180,2020-10-28T03:00:00.000Z,73.0,112,11,0,12,57
181,2020-10-29T03:00:00.000Z,72.0,112,11,0,12,56
182,2020-10-30T03:00:00.000Z,56.0,112,12,0,14,57

In [24]:
request('getDetailedBedsAndVentilationByHealthService').json()['data']['101'].keys()

dict_keys(['dates', 'camas_ocupadas_intensivo', 'camas_ocupadas_intermedio', 'camas_totales_intensivo', 'camas_totales_intermedio', 'vmi_covid19_confirmados', 'vmi_covid19_sospechosos', 'vmi_ocupados', 'vmi_totales', 'name'])

In [25]:
request('getBedsAndVentilationByComuna?comuna=13101').json().keys()

dict_keys(['dates', 'camas_ocupadas', 'camas_totales', 'vmi_covid19_confirmados', 'vmi_covid19_sospechosos', 'vmi_ocupados', 'vmi_totales'])

# Subreporte

In [26]:
import matplotlib.dates as mdates

In [27]:
endpoint = 'getNationalNewCasesUnderreport'

In [28]:
subreporte = pd.DataFrame(request(endpoint).json())

In [29]:
dates = pd.DataFrame({'dates':[timeJStoPy(subreporte['date'][i]) for i in range(len(subreporte['date']))]})

In [30]:
subreporte.keys()

Index(['date', 'mean', 'low', 'high'], dtype='object')

In [31]:
subreporte = pd.concat([dates,subreporte],axis=1)

In [32]:
subreporte[[ 'mean', 'low', 'high']]

         mean           low      high
0    0.956597  7.902282e-01  0.997992
1    0.951143  7.944657e-01  0.996782
2    0.944615  7.927647e-01  0.994819
3    0.936939  7.925831e-01  0.992439
4    0.928019  7.842497e-01  0.989187
..        ...           ...       ...
590  0.000032  5.000000e-07  0.000374
591  0.000038  4.300000e-07  0.000481
592  0.000046  3.500000e-07  0.000660
593  0.000058  2.600000e-07  0.000908
594  0.000075  2.200000e-07  0.001356

[595 rows x 3 columns]

In [33]:
#4k
plt.rcParams["figure.figsize"] = 38.40, 20.56 #19.20,10.80#8,6
# Small Screen
#plt.rcParams["figure.figsize"] = 19.2, 10.80 #19.20,10.80#8,6
plt.rcParams.update({
    "text.usetex": False,
    "font.family": "sans-serif",
    "font.sans-serif":["Arial"]})

In [34]:
import matplotlib
%matplotlib tk

In [35]:
plt.plot(subreporte['dates'],subreporte['mean'],label = 'mean')
plt.plot(subreporte['dates'],subreporte['low'],label = 'low')
plt.plot(subreporte['dates'],subreporte['high'],label = 'high')
plt.title('Subreporte',size=22)
plt.tick_params(labelsize=18)
plt.legend(loc=0,fontsize=18)
plt.fmt_xdata = mdates.DateFormatter('%d-%m-%Y')

findfont: Font family ['sans-serif'] not found. Falling back to DejaVu Sans.
findfont: Font family ['sans-serif'] not found. Falling back to DejaVu Sans.

# Paso a paso

In [36]:
endpoint = 'https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto74/paso_a_paso.csv'

In [37]:
cuarentenas = pd.read_csv(endpoint)

In [38]:
cuarentenas

,codigo_region,region_residencia,codigo_comuna,comuna_residencia,zona,2020-07-28,2020-07-29,2020-07-30,2020-07-31,2020-08-01,...,2021-11-15,2021-11-16,2021-11-17,2021-11-18,2021-11-19,2021-11-20,2021-11-21,2021-11-22,2021-11-23,2021-11-24
0,15,Arica y Parinacota,15101,Arica,Rural,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
1,15,Arica y Parinacota,15101,Arica,Urbana,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
2,15,Arica y Parinacota,15102,Camarones,Total,3,3,3,3,3,...,4,4,4,4,4,4,4,4,4,4
3,15,Arica y Parinacota,15202,General Lagos,Total,3,3,3,3,3,...,4,4,4,4,4,4,4,4,4,4
4,15,Arica y Parinacota,15201,Putre,Total,3,3,3,3,3,...,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,12,Magallanes,12101,Punta Arenas,Total,3,3,3,3,3,...,4,4,4,4,4,4,4,4,4,4
384,12,Magallanes,12103,Río Verde,Total,3,3,3,3,3,...,4,4,4,4,4,4,4,4,4,4
385,12,Magallanes,12104,San Gregorio,Total,3,3,3,3,3,...,4,4,4,4,4,4,4,4,4,4
386,12,Magallanes,12303,Timaukel,Total,3,3,3,3,3,...,4,4,4,4,4,4,4,4,4,4
387,12,Magallanes,12402,Torres del Paine,Total,3,3,3,3,3,...,4,4,4,4,4,4,4,4,4,4

In [39]:
def timetxttoDatetime(t):
    return datetime.strptime(t,'%Y-%m-%d')

In [40]:
cuarentenas[cuarentenas['codigo_region']==13]

,codigo_region,region_residencia,codigo_comuna,comuna_residencia,zona,2020-07-28,2020-07-29,2020-07-30,2020-07-31,2020-08-01,...,2021-11-15,2021-11-16,2021-11-17,2021-11-18,2021-11-19,2021-11-20,2021-11-21,2021-11-22,2021-11-23,2021-11-24
87,13,Metropolitana,13502,Alhué,Total,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
88,13,Metropolitana,13402,Buin,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
89,13,Metropolitana,13403,Calera de Tango,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
90,13,Metropolitana,13102,Cerrillos,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
91,13,Metropolitana,13103,Cerro Navia,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
92,13,Metropolitana,13301,Colina,Total,2,2,2,2,2,...,3,3,3,3,3,3,3,3,3,3
93,13,Metropolitana,13104,Conchalí,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
94,13,Metropolitana,13503,Curacaví,Rural,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
95,13,Metropolitana,13503,Curacaví,Urbana,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
96,13,Metropolitana,13105,El Bosque,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
97,13,Metropolitana,13602,El Monte,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
98,13,Metropolitana,13106,Estación Central,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
99,13,Metropolitana,13107,Huechuraba,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
100,13,Metropolitana,13108,Independencia,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
101,13,Metropolitana,13603,Isla de Maipo,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
102,13,Metropolitana,13109,La Cisterna,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
103,13,Metropolitana,13110,La Florida,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
104,13,Metropolitana,13111,La Granja,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
105,13,Metropolitana,13112,La Pintana,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
106,13,Metropolitana,13113,La Reina,Total,2,2,2,2,2,...,3,3,3,3,3,3,3,3,3,3
107,13,Metropolitana,13302,Lampa,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
108,13,Metropolitana,13114,Las Condes,Total,2,2,2,2,2,...,3,3,3,3,3,3,3,3,3,3
109,13,Metropolitana,13115,Lo Barnechea,Total,2,2,2,2,2,...,3,3,3,3,3,3,3,3,3,3
110,13,Metropolitana,13116,Lo Espejo,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
111,13,Metropolitana,13117,Lo Prado,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
112,13,Metropolitana,13118,Macul,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
113,13,Metropolitana,13119,Maipú,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
114,13,Metropolitana,13504,María Pinto,Total,3,3,3,3,2,...,3,3,3,3,3,3,3,3,3,3
115,13,Metropolitana,13501,Melipilla,Rural,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
116,13,Metropolitana,13501,Melipilla,Urbana,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
117,13,Metropolitana,13120,Ñuñoa,Total,2,2,2,2,2,...,3,3,3,3,3,3,3,3,3,3
118,13,Metropolitana,13604,Padre Hurtado,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
119,13,Metropolitana,13404,Paine,Total,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
120,13,Metropolitana,13121,Pedro Aguirre Cerda,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
121,13,Metropolitana,13605,Peñaflor,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
122,13,Metropolitana,13122,Peñalolén,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
123,13,Metropolitana,13202,Pirque,Total,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
124,13,Metropolitana,13123,Providencia,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
125,13,Metropolitana,13124,Pudahuel,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
126,13,Metropolitana,13201,Puente Alto,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
127,13,Metropolitana,13125,Quilicura,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
128,13,Metropolitana,13126,Quinta Normal,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
129,13,Metropolitana,13127,Recoleta,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
130,13,Metropolitana,13128,Renca,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
131,13,Metropolitana,13401,San Bernardo,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
132,13,Metropolitana,13129,San Joaquín,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
133,13,Metropolitana,13203,San José de Maipo,Rural,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
134,13,Metropolitana,13203,San José de Maipo,Urbana,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
135,13,Metropolitana,13130,San Miguel,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
136,13,Metropolitana,13505,San Pedro,Total,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
137,13,Metropolitana,13131,San Ramón,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
138,13,Metropolitana,13101,Santiago,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
139,13,Metropolitana,13601,Talagante,Total,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
140,13,Metropolitana,13303,Til Til,Total,2,2,2,2,2,...,3,3,3,3,3,3,3,3,3,3
141,13,Metropolitana,13132,Vitacura,Total,2,2,2,2,2,...,3,3,3,3,3,3,3,3,3,3

In [41]:
stgo = cuarentenas[cuarentenas['codigo_comuna']==13101]
lascondes = cuarentenas[cuarentenas['codigo_comuna']==13114]

In [42]:
stgo_q = stgo.filter(regex='2021*').transpose()
lascondes_q = lascondes.filter(regex='2021*').transpose()

In [43]:
dates = [timetxttoDatetime(stgo_q.axes[0][i]) for i in range(len(stgo_q.axes[0]))]

In [45]:
fig, axs = plt.subplots(1, 1)
axs.plot(dates,stgo_q,label='stgo')
axs.plot(dates,lascondes_q,label='LasCondes')
axs.fmt_xdata = mdates.DateFormatter('%Y-%m-%d')
axs.legend(loc=0)

findfont: Font family ['sans-serif'] not found. Falling back to DejaVu Sans.

# Casos nuevos diarios informe diario

In [48]:
initdate = datetime(2020,12,1)

In [49]:
w = 5
endpoint = 'https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto5/TotalesNacionales.csv'
casosnuevos = pd.read_csv(endpoint)
I_d = casosnuevos[casosnuevos['Fecha']=='Casos nuevos totales'].transpose()
dates = [timetxttoDatetime(I_d.axes[0][i]) for i in range(1,len(I_d.axes[0]))]
I_d = np.array(I_d.iloc[1:][6])
index = np.where(np.array(dates) >= initdate)[0][0]
dates = dates[index:]
I_d = I_d[index:]
weekdays = [date.weekday(dates[i]) for i in range(len(dates))]
I = pd.DataFrame({'dates':dates,'I':I_d,'weekdays':weekdays})
I_week = I.loc[(I['weekdays']>2) | (I['weekdays']==0)] # Sacando martes y miércoles
I_week_ra = I_week['I'].rolling(w).mean()
I_week_lowess = lowess(I_week_ra,list(range(len(I_week_ra))))

In [50]:
import statsmodels.api as sm
lowess = sm.nonparametric.lowess

z = lowess(I_d,list(range(len(I_d))))
#w = lowess(y, x, frac=1./3)

In [51]:
plt.plot(dates,I_d,label='data raw')
plt.plot(I_week['dates'],I_week_ra,linestyle = 'dashed',label='weekdays rolling 5 data points')
plt.plot(I_week['dates'][w-1:],I_week_lowess,linestyle = 'dashed',label='weekdays - lowess')
#plt.plot(I_week['dates'],I_week['I'].rolling(10).mean(),linestyle = 'dotted',label='weekdays rolling 10 5 data points')
#plt.plot(I_week['dates'],I_week_lowess,label='Week lowess')
plt.legend(loc=0)

In [52]:
w = 7
ra_I_d = np.convolve(I_d, np.ones(w), 'valid') / w

In [53]:
pdRA_I_d = np.array(I['I'].rolling(7).mean())[7:]

In [55]:
I_week_lowess = lowess(I_week['I'],list(range(len(I_week['I']))))

In [56]:
plt.plot(dates,I_d,label='data raw')
#plt.plot(dates,z,label='lowess')
#plt.plot(dates[w-1:],ra_I_d,label='rolling average')
#plt.plot(dates[7:],pdRA_I_d+700,label='rolling average pandas')
#plt.plot(dates[7:],np.array(raSam_I_d)+1000,label='rolling average Sam')
plt.plot(I_week['dates'],I_week['I'].rolling(5).mean(),linestyle = 'dashed',label='weekdays rolling 5 data points')
plt.plot(I_week['dates'],I_week['I'].rolling(10).mean(),linestyle = 'dotted',label='weekdays rolling 10 5 data points')
plt.plot(I_week['dates'],I_week_lowess,label='Week lowess')
plt.legend(loc=0)

In [57]:
type(I_d)

numpy.ndarray

L = 0.05
M = 0.05
W = 0.1
J = 0.2
V = 0.2
S = 0.2
D = 0.2

In [59]:
weights = [0.05,0.1,0.2,0.2,0.2,0.2,0.05]*18

In [60]:
weights = weights[:-2]

In [61]:
len(weights)

124

In [64]:
def rollingmean(data,window=7):
    aux = []
    for i in range(len(data)-window):
        aux.append(np.mean(data[i:window+i]))
    return(aux)

In [65]:
raSam_I_d = rollingmean(I_d)

# Deaths deis

In [66]:
endpoint = 'getDeathsByState?state='
state = '10'

In [67]:
pd.DataFrame(request(endpoint+state).json())

                        dates  confirmed  suspected
0    2020-01-04T03:00:00.000Z          0          0
1    2020-01-05T03:00:00.000Z          0          0
2    2020-01-06T03:00:00.000Z          0          0
3    2020-01-07T03:00:00.000Z          0          0
4    2020-01-08T03:00:00.000Z          0          0
..                        ...        ...        ...
679  2021-11-13T03:00:00.000Z          0          0
680  2021-11-14T03:00:00.000Z          0          0
681  2021-11-15T03:00:00.000Z          0          0
682  2021-11-16T03:00:00.000Z          0          0
683  2021-11-17T03:00:00.000Z          0          0

[684 rows x 3 columns]