# CV19SIM: EPIcSuite simulator interface

Perdón la pobresa, work in progress. Será enriquecido

In [1]:
import numpy as np
import pandas as pd
import toml
import time
import matplotlib.pyplot as plt

In [2]:
from cv19gm.cv19sim import CV19SIM

In [3]:
# For pop-up plots execute this code (optional)
import platform
OS = platform.system()

if OS == 'Linux':    
    %matplotlib tk
    print('Linux')
elif OS == 'Windows':
    %matplotlib qt
    print('Windows')
elif OS == 'Darwin':
    %matplotlib tk
    print('Mac (Funciona?)')

Linux

## Lectura archivo de configuración

In [4]:
cfgfile = '../config_files/SEIR_metasim.toml'
cfg = toml.load(cfgfile) # no es necesario, pero es util para ver el archivo de configuracion

### Creación objeto de multisimulación

In [5]:
sims = CV19SIM(cfg)

In [6]:
# Resolver EDOS
sims.solve()

In [7]:
sims.sims[0,0].results

,t,dates,S,E,E_d,I,I_d,R,R_d,Flux,E_ac,I_ac,R_ac,I_det,I_d_det,I_ac_det,prevalence_total,prevalence_susc,prevalence_det
0,0,None,987212,1788,894,5999,3000,5000,0,0.0,894,18000,0,5999,3000,18000,0.018000,0.018000,0.018000
1,1,None,986630,1990,695,5789,1345,5588,371,0.0,1589,19345,371,5789,1345,19345,0.019345,0.019345,0.019345
2,2,None,986067,2139,610,5632,757,6159,496,0.0,2200,20103,867,5632,757,20103,0.020103,0.020103,0.020103
3,3,None,985518,2249,571,5515,557,6716,534,0.0,2771,20660,1401,5515,557,20660,0.020661,0.020661,0.020661
4,4,None,984979,2329,550,5426,495,7263,541,0.0,3321,21156,1943,5426,495,21156,0.021157,0.021157,0.021157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,None,882764,130,25,283,26,116821,28,0.0,105804,125816,111766,283,26,125816,0.125816,0.125816,0.125816
496,496,None,882739,129,25,281,26,116849,28,0.0,105829,125842,111794,281,26,125842,0.125842,0.125842,0.125842
497,497,None,882715,128,24,279,25,116877,28,0.0,105854,125868,111823,279,25,125868,0.125868,0.125868,0.125868
498,498,None,882690,127,24,276,25,116905,27,0.0,105878,125893,111850,276,25,125893,0.125894,0.125894,0.125894
499,499,None,882666,126,24,274,25,116932,27,0.0,105903,125919,111878,274,25,125919,0.125919,0.125919,0.125919

# kwargs

In [9]:
sims2 = CV19SIM(cfg,I_det=[5000,8000,10000],population=[100000,500000,1000000])

In [11]:
start = time.time()
sims2.solve()
stop = time.time()
print('Elapsed time = '+str(stop-start)+' seconds')

Elapsed time = 1.1602814197540283 seconds

In [12]:
sims2.sims[0,1,1,1].results

,t,dates,S,E,E_d,I,I_d,R,R_d,Flux,E_ac,I_ac,R_ac,I_det,I_d_det,I_ac_det,prevalence_total,prevalence_susc,prevalence_det
0,0,None,488510,1490,894,5000,3000,5000,0,0.0,894,18000,0,5000,3000,18000,0.036000,0.036000,0.036000
1,1,None,486578,2970,1548,4956,1404,5495,312,0.0,2442,19404,312,4956,1404,19404,0.038809,0.038809,0.038809
2,2,None,484618,4209,1812,5172,985,5999,435,0.0,4255,20389,748,5172,985,20389,0.040779,0.040779,0.040779
3,3,None,482541,5330,1987,5590,977,6536,501,0.0,6242,21367,1249,5590,977,21367,0.042734,0.042734,0.042734
4,4,None,480280,6417,2171,6178,1113,7123,558,0.0,8414,22480,1808,6178,1113,22480,0.044961,0.044961,0.044961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,None,10090,0,0,0,0,489909,0,0.0,479750,499658,484860,0,0,499658,0.999318,0.999318,0.999318
496,496,None,10090,0,0,0,0,489909,0,0.0,479750,499658,484860,0,0,499658,0.999318,0.999318,0.999318
497,497,None,10090,0,0,0,0,489909,0,0.0,479750,499658,484860,0,0,499658,0.999318,0.999318,0.999318
498,498,None,10090,0,0,0,0,489909,0,0.0,479750,499658,484860,0,0,499658,0.999318,0.999318,0.999318
499,499,None,10090,0,0,0,0,489909,0,0.0,479750,499658,484860,0,0,499658,0.999318,0.999318,0.999318

# Single simulation

In [13]:
cfgfile = '../config_files/SEIR.toml'
cfg = toml.load(cfgfile)

In [14]:
sims3 = CV19SIM(cfg)

In [15]:
sims3.solve()

In [16]:
sim = sims3.sims[0]

In [17]:
plt.plot(sim.t,sim.S,label='S')
plt.plot(sim.t,sim.E,label='E')
plt.plot(sim.t,sim.I,label='I')
plt.plot(sim.t,sim.R,label='R')
plt.legend(loc=0)

In [18]:
def seno(t):
    return 0.1*np.sin(t) + 0.1

In [19]:
sims3 = CV19SIM(cfg,beta=seno)

In [20]:
sims3.solve()

In [21]:
sims3.sims[0].results

,t,dates,S,E,E_d,I,I_d,R,R_d,Flux,E_ac,I_ac,R_ac,I_det,I_d_det,I_ac_det,prevalence_total,prevalence_susc,prevalence_det
0,0,None,987212,1788,893,5999,3000,5000,0,0.0,893,18000,0,5999,3000,18000,0.018000,0.018000,0.018000
1,1,None,986364,2239,888,5806,1359,5589,371,0.0,1782,19359,371,5806,1359,19359,0.019359,0.019359,0.019359
2,2,None,985252,2841,1030,5740,828,6165,500,0.0,2813,20187,872,5740,828,20187,0.020188,0.020188,0.020188
3,3,None,984361,3127,919,5770,690,6740,547,0.0,3732,20877,1420,5770,690,20877,0.020878,0.020878,0.020878
4,4,None,983983,2894,550,5801,636,7319,567,0.0,4282,21514,1987,5801,636,21514,0.021515,0.021515,0.021515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,None,884892,99,8,236,22,114772,23,0.0,103677,123712,109711,236,22,123712,0.123712,0.123712,0.123712
496,496,None,884886,86,7,231,19,114795,23,0.0,103684,123732,109734,231,19,123732,0.123732,0.123732,0.123732
497,497,None,884864,91,17,225,18,114818,23,0.0,103702,123750,109757,225,18,123750,0.123750,0.123750,0.123750
498,498,None,884827,108,30,223,19,114840,22,0.0,103733,123770,109780,223,19,123770,0.123770,0.123770,0.123770
499,499,None,884791,121,33,224,21,114863,22,0.0,103766,123792,109802,224,21,123792,0.123792,0.123792,0.123792

In [22]:
for i in sims3.sims:
    plt.plot(i.t,i.I)

In [23]:
plt.plot(sim.t,sim.S,label='S')
plt.plot(sim.t,sim.E,label='E')
plt.plot(sim.t,sim.I,label='I')
plt.plot(sim.t,sim.R,label='R')
plt.legend(loc=0)

In [24]:
def a(t,**kwargs):
    for key,value in kwargs.items():
        print(key)
        t=+value
    return t

# Value copies
When we want to run arrays of values using the same value for 2 different parameters.

In [26]:
cfgfile = '../config_files/SEIR.toml'
cfg = toml.load(cfgfile)

In [27]:
sims6 = CV19SIM(cfg,tE_I=[1,2,3],tI_R='tE_I')

In [28]:
sims6.solve()

# SEIRHVD

In [31]:
cfgfile = 'cfg/SEIRHVD.toml'
cfg = toml.load(cfgfile)
sims4 = CV19SIM(cfg,model='SEIRHVD')

In [33]:
sims4.solve()

In [34]:
plt.plot(sims4.sims[0].t,sims4.sims[0].S,label='S')
plt.plot(sims4.sims[0].t,sims4.sims[0].E,label='E')
plt.plot(sims4.sims[0].t,sims4.sims[0].I,label='I')
plt.plot(sims4.sims[0].t,sims4.sims[0].R,label='R')
plt.xlim(0,150)
plt.legend(loc=0)

In [35]:
plt.plot(sims4.sims[0].t,sims4.sims[0].H,label='H')
plt.plot(sims4.sims[0].t,sims4.sims[0].D,label='D')
plt.xlim(0,150)
plt.legend(loc=0)

## Multiple simulations with array of parameters

In [36]:
cfgfile = 'cfg/SEIRHVD.toml'
cfg = toml.load(cfgfile)
sims5 = CV19SIM(cfg,model='SEIRHVD',pH_D = list(np.linspace(0,0.5,10)),H_cap=10000)

In [37]:
sims5.solve()

In [38]:
for sim in sims5.sims:
    plt.plot(sim.t,sim.D,label='pH_D='+str(np.around(sim.pH_D(0),1)))
plt.legend(loc=0)
plt.show()

Nota: Este ejemplo hace que se acumule más gente en el hospital cuando baja la tasa de mortalidad, eso se podrá corregir con el nuevo parámetro CFR (not ready).

In [39]:
cfgfile = '../config_files/SEIR.toml'

In [40]:
sims = CV19SIM(cfgfile,beta=[0.18,0.2,0.22])

In [42]:
sims.solve()

In [43]:
for i in sims.sims:
    plt.plot(i.t,i.I,label='Beta='+str(i.beta(0)))
    
plt.legend(loc=0)